.one {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

#id {
    color: peru;
}

.two {
    background-color: bisque;
    color: black;
    text-align: center;
}

.four {
    background-color: black;
    color: whitesmoke;
    text-align: center;

}

.five {
    background-color: bisque;
    color: black;
    text-align: center;
}